@import "../../mainStyling.scss";

.main{
    color: white;
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 10vh;
    align-items: center;
    border: solid 0px #4D4D4D;
    border-bottom-width: 1px;
    .logoImg{
        max-width: 12vw;
    }
    .links{
        height: 100%;
        width: 60vw;
        display: flex;
        margin-left: auto;
        font-family: 'Inter';
        gap: 3vw;
        justify-content: flex-end;
        .link{
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            padding-left: 0.5vw;
            padding-right: 0.5vw;
            border: 0px solid #bdbdbd;
            cursor: pointer;
            &:hover{
                border-bottom-width: 10px;
                text-shadow: 1px 1px 1px #ffffff;
            }
            &:active{
                background-color: #ffffff;
                color: black;
                border-color: #ffffff;
            }
        }
    }
}

a{
    color: white;
    text-decoration: none;
}
.welcome{
    display: flex;
    margin-left: auto;
    font-size: 12px;
}